{% extends 'organization_pages/organization_base.html' %}
{% block title %}Organizations Internships{% endblock %}

{% block content %}


<!-- Create Internship Modal -->
<div id="createInternshipModal" class="modal fade" role="dialog" aria-labelledby="createInternshipTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <span class="close close-create-modal" aria-label="Close modal">&times;</span>
            <h2 id="createInternshipTitle" class="modal-title text-primary">Create Internship</h2>
            <form class="internship-form" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <!-- Internship Title & Organization Name -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="internshipTitle" class="font-weight-bold">{{ form.title.label_tag }}</label>
                                {{ form.title }}
                            </div>
                            <div class="form-group">
                                <label for="organizationName" class="font-weight-bold">{{ form.organization_name.label_tag }}</label>
                                {{ form.organization_name }}
                            </div>
                        </div>

                        <!-- Location & Description -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="location" class="font-weight-bold">{{ form.location.label_tag }}</label>
                                {{ form.location }}
                            </div>
                            <div class="form-group">
                                <label for="description" class="font-weight-bold">{{ form.description.label_tag }}</label>
                                {{ form.description }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Requirements & Application Process -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="requirements" class="font-weight-bold">{{ form.requirements.label_tag }}</label>
                                {{ form.requirements }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="applicationProcess" class="font-weight-bold">{{ form.application_process.label_tag }}</label>
                                {{ form.application_process }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="maxApplicants" class="font-weight-bold">{{ form.max_applicants.label_tag }}</label>
                        {{ form.max_applicants }}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary rounded-pill">Submit Internship</button>
                </div>
            </form>
        </div>
    </div>
</div>

<button id="openCreateModalBtn" class="btn btn-primary">Create Internship</button>


<!-- Pagination controls -->
<div class="pagination d-flex justify-content-center my-4">
    <span class="step-links">
        {% if internships.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary btn-sm shadow-sm mx-1 rounded-pill">&laquo; First</a>
            <a href="?page={{ internships.previous_page_number }}" class="btn btn-outline-primary btn-sm shadow-sm mx-1 rounded-pill">Previous</a>
        {% endif %}

        <span class="current">
            <span class="font-weight-bold">Page {{ internships.number }} of {{ internships.paginator.num_pages }}</span>
        </span>

        {% if internships.has_next %}
            <a href="?page={{ internships.next_page_number }}" class="btn btn-outline-primary btn-sm shadow-sm mx-1 rounded-pill">Next</a>
            <a href="?page={{ internships.paginator.num_pages }}" class="btn btn-outline-primary btn-sm shadow-sm mx-1 rounded-pill">Last &raquo;</a>
        {% endif %}
    </span>
</div>

<hr class="my-5">


<section class="internship-postings-section">
    <h2 class="text-center text-primary mb-4">Posted Internships</h2>
    <button id="openModalBtn" class="btn btn-primary mb-3 shadow-lg d-flex align-items-center justify-content-center">
        <i class="bx bx-plus-circle mr-2"></i> Create Internship
    </button>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered internship-table">
            <thead class="thead-light">
                <tr>
                    <th>No.</th>
                    <th>Organization</th>
                    <th>Internship Title</th>
                    <th>Location</th>
                    <th>Available Applicants</th>
                    <th>Posted Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for internship in internships %}
                    <tr>
                        <td>{{ start_number|add:forloop.counter }}</td>
                        <!-- Organization Picture and Name -->
                        <td class="organizationProfile">
                            <div class="d-flex align-items-center">
                                <div class="ml-2">
                                    <p class="mb-0 text-muted">{{ internship.organization.company_name }}</p>
                                </div>
                            </div>
                        </td>
                        <!-- Internship Details -->
                        <td>{{ internship.title }}</td>
                        <td>{{ internship.location }}</td>
                        <td>{{ internship.max_applicants }}</td>
                        <td>{{ internship.created_at|date:"F d, Y" }}</td>
                        <!-- Edit and Delete Buttons -->
                        <td class="internship-buttons">
                            <a href="{% url 'view_internship' internship.id %}" class="btn btn-info btn-sm ">View</a>
                            <a href="{% url 'edit_internship' internship.id %}" class="btn btn-primary btn-sm ">Edit</a>
                            <button class="btn btn-danger btn-sm  open-delete-modal" data-id="{{ internship.id }}" data-title="{{ internship.title }}">Delete</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center text-muted">No internships available at this time.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>



<!-- Notification Container -->
<div id="notification" class="alert alert-success alert-dismissible fade show" role="alert" aria-live="assertive" style="display: none;">
    <i class="bx bx-check-circle"></i> Internship Posted Successfully!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div id="deleteInternshipModal" class="modal fade" role="dialog" aria-labelledby="deleteInternshipTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <span class="close close-delete-modal" aria-label="Close modal">&times;</span>
            <h2 id="deleteInternshipTitle" class="modal-title text-danger">Delete Internship</h2>
            <p>Are you sure you want to delete the internship <strong id="internshipTitleToDelete"></strong>?</p>
            <form id="deleteInternshipForm" method="POST" action="">
                {% csrf_token %}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger rounded-pill">Delete</button>
                    <button type="button" class="btn btn-secondary rounded-pill close-delete-modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Custom Styling -->
<style>
    /* Custom Styles */
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

    .organization-image {
        border: 2px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

   
    /* Responsive Button */
    @media (max-width: 576px) {
        #openModalBtn {
            width: 100%; /* Makes the button full-width on small screens */
        }
    }


    /* Main Section Styles */
    .internship-postings-section {
        padding-inline: 15px; /* Ensures the content is not too wide */
        max-width: 1200px; /* Max width for larger screens */
        margin: 0 auto; /* Centering content */
        margin-bottom: 30vh;
    }

    .table thead th {
        background-color: #f8f9fa;
        font-weight: bold;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f2f2f2;
    }

    .table-hover tbody tr:hover {
        background-color: #e9ecef;
        cursor: pointer;
    }

    .pagination {
        font-size: 14px;
    }

    .form-group input, .form-group select, .form-group textarea {
        border-radius: 10px;
    }
</style>


<!-- Styles for Modal -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Create Internship Modal Logic
        const createModal = document.getElementById("createInternshipModal");
        const openCreateModalBtn = document.getElementById("openCreateModalBtn");
        const closeCreateModalBtn = document.querySelector(".close-create-modal");
    
        openCreateModalBtn.onclick = function () {
            createModal.style.display = "flex";
            createModal.setAttribute("aria-hidden", "false");
        };
    
        closeCreateModalBtn.onclick = function () {
            createModal.style.display = "none";
            createModal.setAttribute("aria-hidden", "true");
        };
    
        window.onclick = function (event) {
            if (event.target === createModal) {
                createModal.style.display = "none";
                createModal.setAttribute("aria-hidden", "true");
            }
        };

        // Show the notification if the internship was posted
        {% if internship_posted %}
            var notification = document.getElementById('notification');
            notification.style.display = 'flex';  // Make notification visible
            setTimeout(function() {
                notification.classList.add('show');  // Trigger slide-in animation
            }, 100); // Delay to ensure it's visible before animating

            // Hide the notification after 3 seconds
            setTimeout(function() {
                notification.classList.remove('show');  // Slide it out
                setTimeout(function() {
                    notification.style.display = 'none';  // Fully hide after sliding out
                }, 500); // Wait for the slide-out animation to complete
            }, 5000);  // Keep it visible for 3 seconds
        {% endif %}
    });


    document.addEventListener('DOMContentLoaded', function () {
        // Posting modal logic (same as before)
        
        // Delete modal logic
        var deleteModal = document.getElementById("deleteModal");
        var openDeleteModalBtns = document.querySelectorAll(".open-delete-modal");
        var closeDeleteModalBtns = document.querySelectorAll(".close, .close-delete-modal");
        var internshipTitleToDelete = document.getElementById("internshipTitleToDelete");
        var deleteForm = document.getElementById("deleteForm");

        openDeleteModalBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var internshipId = this.getAttribute('data-id');
                var internshipTitle = this.getAttribute('data-title');
                internshipTitleToDelete.textContent = `"${internshipTitle}"`;  // Update the modal content
                deleteForm.action = `/delete_internship/${internshipId}/`;  // Set the form action dynamically
                deleteModal.style.display = "flex";  // Show the modal
            });
        });

        closeDeleteModalBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                deleteModal.style.display = "none";  // Hide the modal
            });
        });

        // Close modal if clicking outside of the modal content
        window.onclick = function (event) {
            if (event.target == deleteModal) {
                deleteModal.style.display = "none";
            }
        };
    });
</script>

{% endblock content %}
