{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'loginForm.css' %}">
    <link rel="stylesheet" href="{% static 'blob.css' %}">
    <title>Reset Password</title>
</head>
<body>
       <!-- Blob Animition -->
    <div class="blob_animation">
        <div class="blob blob1"></div>
        <div class="blob blob2"></div>
        <div class="blob blob3"></div>
    </div>
    <div class="form-container">
        <h2>Reset Your Password</h2>
        <form method="POST" action="{% url 'reset_password_confirm' token %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password" id="new_password" required placeholder="Enter your new password">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" id="confirm_password" required placeholder="Confirm your new password">
            </div>
            <button type="submit" class="btn">Change Password</button>

            {% if message %}
                <p class="success">{{ message }}</p>
            {% endif %}
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
