{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'loginForm.css' %}">
    <link rel="stylesheet" href="{% static 'blob.css' %}">
    <title>Password Reset</title>
</head>
<body>
       <!-- Blob Animition -->
    <div class="blob_animation">
        <div class="blob blob1"></div>
        <div class="blob blob2"></div>
        <div class="blob blob3"></div>
    </div>

    <div class="form-container">
        <h2>Reset Password</h2>
        <form method="POST" action="{% url 'request_password_reset' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required placeholder="Enter your email">
            </div>
            <button type="submit" class="btn">Send Reset Link</button>

            {% if message %}
                <p class="success">{{ message }}</p>
            {% endif %}
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
