{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'loginForm.css' %}">
    <title>Waiting for Confirmation</title>
    <script>
                // Polling mechanism to automatically check when the token gets confirmed
            setInterval(() => {
                fetch("{% url 'check_confirmation_status' token %}")
                    .then(response => response.json())
                    .then(data => {
                        if (data.confirmed) {
                            window.location.href = "{% url 'reset_password_confirm' token %}";
                        }
                    });
            }, 5000); 
    </script>
</head>
<body>
    <div class="form-container">
        <h2>Waiting for Confirmation</h2>
        <p>Please check your email to confirm your password reset request.</p>
    </div>
</body>
</html>
