/* Eye icon inside the input */
.toggle-password {
    position: absolute;
    margin-top: 10px;
    margin-right: -10px;
    left: 20;
    transform: translateY(-10px);
    cursor: pointer;
    font-size: 18px; /* Icon size */
    color: #888; /* Icon color */
    border: 1px solid rgba(23, 33, 52, 0.667);
}