{% extends 'student_pages/student_base.html' %}

{% block title %}Internships{% endblock %}
{% block header %}Internships{% endblock %}
{% block content %}
<div class="dashboard_header">
    <h1>Dashboard</h1>
    <div class="header_icons">
        <i class='bx bx-user'></i>
        <i class='bx bx-envelope'></i>
        <i class='bx bx-bell'></i>
        <i class='bx bx-user'></i>
    </div>
</div>
<div class="line_design"><p></p></div>
    <div class="text">Welcome to the Internships page, {{ user.first_name }}!</div>
    <!-- Add content specific to Internships here -->
{% endblock %}
